In [1]:
import pandas as pd
import numpy as np

## The Machine learning alogorithm- i am using Random Forest Classifier

In [2]:
from sklearn.ensemble import RandomForestClassifier

In [3]:
from sklearn import linear_model

In [4]:
# Test train split, we can do that manually also but 
from sklearn.cross_validation import train_test_split

C:\Users\Jarvis\AppData\Local\Enthought\Canopy\User\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [5]:
pd.options.mode.chained_assignment=None

In [6]:
from sklearn.externals import joblib

In [7]:
data = pd.read_csv('titanic_train.csv',encoding="UTF-8")

In [8]:
data.head()

,Unnamed: 0,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,998,999,3rd,1,"McCarthy, Miss Katie",NaN,NaN,NaN,NaN,NaN,NaN,female
1,179,180,1st,0,"Millet, Mr Francis Davis",65.0,Southampton,"East Bridgewater, MA",NaN,NaN,(249),male
2,556,557,2nd,0,"Sjostedt, Mr Ernst Adolf",59.0,Southampton,"Sault St Marie, ON",NaN,NaN,NaN,male
3,174,175,1st,0,"McCaffry, Mr Thomas Francis",46.0,Cherbourg,"Vancouver, BC",NaN,NaN,(292),male
4,1232,1233,3rd,0,"Strilic, Mr Ivan",NaN,NaN,NaN,NaN,NaN,NaN,male

In [9]:
data.columns

Index([u'Unnamed: 0',  u'row.names',     u'pclass',   u'survived',
             u'name',        u'age',   u'embarked',  u'home.dest',
             u'room',     u'ticket',       u'boat',        u'sex'],
      dtype='object')

In [10]:
# -*- coding: encoding -*-

In [11]:
data[['sex', 'age']].head()

      sex   age
0  female   NaN
1    male  65.0
2    male  59.0
3    male  46.0
4    male   NaN

In [34]:
median_age=data['age'].median()
print 'Media age is', median_age

Media age is 30.5

In [13]:
data['age'].fillna(median_age, inplace=True)

In [14]:
data_input= data[['pclass','age','sex']]
data_input.head()

  pclass   age     sex
0    3rd  29.0  female
1    1st  65.0    male
2    2nd  59.0    male
3    1st  46.0    male
4    3rd  29.0    male

In [15]:
expected_output= data[['survived']]
expected_output.head()

   survived
0         1
1         0
2         0
3         0
4         0

# data preparing and cleaning

In [16]:
data_input["pclass"].replace('3rd',3, inplace=True)
data_input["pclass"].replace('2nd',2, inplace=True)
data_input["pclass"].replace('1st',1, inplace=True)
data_input.head()

   pclass   age     sex
0       3  29.0  female
1       1  65.0    male
2       2  59.0    male
3       1  46.0    male
4       3  29.0    male

In [17]:
data_input['sex']=np.where(data_input['sex']=='male',1,0)
data_input.head()

   pclass   age  sex
0       3  29.0    0
1       1  65.0    1
2       2  59.0    1
3       1  46.0    1
4       3  29.0    1

In [18]:
inputs_train, inputs_test, expected_output_train, expected_output_test=train_test_split (data_input, expected_output, test_size = 0.33, random_state = 42)

In [19]:
rf = RandomForestClassifier (n_estimators=100)

In [20]:
rf.fit(inputs_train,expected_output_train)

C:\Users\Jarvis\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  if __name__ == '__main__':

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [23]:
accuracy = rf.score(inputs_test, expected_output_test)
print("Accuracy = {}%".format(accuracy * 100))

Accuracy = 79.2763157895%

In [24]:
#saving and creating the model
joblib.dump(rf, "titanic_model1", compress=9)

['titanic_model1']

# Checking my model against test inputs

In [25]:
data=pd.read_csv('titanic_test.csv')

In [31]:
data_raw=data[['pclass','age','sex']]

#### If we take 2 features we will get the foloowing error
Number of features of the model must match the input. Model n_features is 3 and input n_features is 2

# Raw data, who all are survived?

#### here i am taking passenger class and sex only, and depending upon it, algorithm will predict the survivors

In [32]:

data_raw['pclass'].replace('3rd',3, inplace=True)
data_raw['pclass'].replace('2nd',2, inplace=True)
data_raw['pclass'].replace('1st',1, inplace=True)
data_raw['sex'].replace('male',1, inplace=True)
data_raw['sex'].replace('female',0, inplace=True)
data_raw.head()

   pclass   age  sex
0       3  21.0    1
1       1   NaN    0
2       1  58.0    1
3       3  16.0    0
4       2  42.0    1

In [33]:
#NAN is here.... replace it my average of all, we have already calculated it before

In [35]:
data_raw['age'].fillna(median_age, inplace=True)

In [36]:
data_raw.head()

   pclass   age  sex
0       3  21.0    1
1       1  30.5    0
2       1  58.0    1
3       3  16.0    0
4       2  42.0    1

In [37]:
#Yep now it looks good.

In [28]:
#we are treating this as RAW data, we have to see who all are servived, dependig upon our model
#here we are not calculating "survived" field, because we have to find that only

### load the trained model

In [29]:
rf=joblib.load('titanic_model1')

In [38]:
predict=rf.predict(data_raw)

In [39]:
print predict

[0 1 0 1 0 1 0 1 1 1 0 0 1 0 1 1 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1
 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 1 0 1 1 0 1 0 0 0
 1 1 1 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 1 1 1 0 0 0 0 0 1 0
 1 1 1 1 0 0 1 1 0 0 0 0 1 1 0 1 1 1 0 1 0 0 0 0 1 0 0 0 1 1 1 1 0 0 0 0 1
 0 1 1 0 0 1 1 1 0 1 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 0 0 0 1 1 1 0 1
 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 1 0 0 1 1 0 1 1 0 1 1 0 0 1 0 1
 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 1 0
 0 0 0 0 0 1 1 1 1 0 0 1 0 1 1 0 1 0 1 0 1 1 0 0 0 1 0 0 0 0 0 1 1 0 1 1 0
 0 0 1 0 0 1 0 1 0 0 0 1 0 1 0 1 1 0 1 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0
 0 0 1 0 0 0 0 0 0 1 1 0 0 0 1 1 0 1 1 0 1 1 1 0 0 1 0 0 1 1 1 0 1 1 0 1 0
 1 0 0 0 0 0 0 0 0 1 0 1 1 0 0 1 0 1 1 1 0 0 1 0]

In [40]:
data_predict=data_raw

In [41]:
data_predict['Predicted_Survivor']=predict.tolist()

In [42]:
data_predict.head()

   pclass   age  sex  Predicted_Survivor
0       3  21.0    1                   0
1       1  30.5    0                   1
2       1  58.0    1                   0
3       3  16.0    0                   1
4       2  42.0    1                   0

## converting the calculated fields into humam understandable lang

In [43]:
data_predict['pclass'].replace(3,'3rd', inplace=True)
data_predict['pclass'].replace(2,'2nd', inplace=True)
data_predict['pclass'].replace(1,'1st', inplace=True)
data_predict['sex'].replace(1,'male', inplace=True)
data_predict['sex'].replace(0,'female', inplace=True)
data_predict['Predicted_Survivor'].replace(0,'Dead Men Tell No Tales', inplace=True)
data_predict['Predicted_Survivor'].replace(1,'Survived, against all odds!', inplace=True)
data_predict.head()

  pclass   age     sex           Predicted_Survivor
0    3rd  21.0    male       Dead Men Tell No Tales
1    1st  30.5  female  Survived, against all odds!
2    1st  58.0    male       Dead Men Tell No Tales
3    3rd  16.0  female  Survived, against all odds!
4    2nd  42.0    male       Dead Men Tell No Tales

#### PS: I love Pirates of the Caribbean

In [47]:
data_input_train= data[['pclass','age','sex','survived']]
data_input_train.head()
#data_predict.head()

  pclass   age     sex  survived
0    3rd  21.0    male         0
1    1st   NaN  female         1
2    1st  58.0    male         0
3    3rd  16.0  female         1
4    2nd  42.0    male         0

# Reference:http://pythonforengineers.com/machine-learning-for-complete-beginners/

#### Santanu made it very simple and easy to undersand, big thanks to him